@font-face {
	font-family: "Bubbleboy";
	src: url(Assets/BUBBLEBOY2.ttf);
}

body {
	background-color: #8b179f;
	
	font-family: "Bubbleboy";
}

#mainWrap {
	background-color: #9b27af;
	
	position: absolute;
	z-index: 0;
	
	top: 0px;
	left: 0px;
	right: 0px;
	
	margin: 50px 10%;
	
	text-align: center;
}

#afroDiscoImg {
	border-radius: 50%;
	
	height: 400px;
	width: 400px;
}

#Screenshots img {
	border-radius: 10px;
	
	height: 175px;
	
	margin-left: 5px;
	margin-right: 5px;
}

#contactDiv img {
	border-radius: 10px;
	
	height: 50px;
	width: 50px;
	
	margin-top: 10px;
}

#contactDiv li {
	list-style: none;
	margin-top: 10px;
}

#contactDiv img {
	margin-left: 10px;
}

#contactDiv a {
	text-decoration: none;
	color: #8b179f;
	background-color: white;
	border: solid thin white;
	border-radius: 5px;
	padding: 10px;
}

hr {
	width: 50%;
	margin: 50px auto;
}